the lazy scholar.json
{
  "name": "the lazy scholar",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyHour",
              "minute": 50
            }
          ]
        },
        "feedUrl": "https://medium.com/feed/tag/ai-tools"
      },
      "type": "n8n-nodes-base.rssFeedReadTrigger",
      "typeVersion": 1,
      "position": [
        -464,
        -16
      ],
      "id": "6de87b16-6847-4ded-89f9-e9d734bca147",
      "name": "RSS Feed Trigger"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=[System Instruction]\nYou are \"SmartScholar,\" an AI assistant for university students.\nYour task is to analyze the following tool/article AND write a Telegram post.\n\nIf the tool is useful for academic research, thesis writing, or productivity:\nWrite a short, engaging post in English.\n\nFormat:\n⚡ **{Tool Name}**\n_{One sentence slogan}_\n\n🎓 **Why for Students:** {Reason}\n🚀 **Key Feature:** {Feature}\n🔗 **Link:** {Link}\n\n#AcademicAI #PhDLife\n\nIf NOT relevant (marketing, coding, sales, crypto), reply: SKIP\n\n🔴 CRITICAL RULES:\n1. Do NOT write \"This is an automated message\".\n2. Do NOT mention \"Sent via RSS\" or \"Generated by AI\".\n3. Do NOT add any intro or outro. Just the post.\n\n[Input Data]\nTitle: {{ $json.title }}\nLink: {{ $json.link }}\nDescription: {{ $json.contentSnippet }}\n"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -256,
        -16
      ],
      "id": "baa6a00f-4abb-41fb-a526-da35918780f5",
      "name": "Message a model",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "googlePalmApi": {
          "id": "acLlGIxgzjVFkyzU",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d9b6c4be-c8bd-4cdb-85bb-0d0359039038",
              "leftValue": "={{ $json.content.parts[0].text }}",
              "rightValue": "SKIP",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        96,
        -16
      ],
      "id": "19dc6405-6ec2-4f57-964c-6844c59071da",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "@TheLazyScholar",
        "text": "={{ $('Message a model').item.json.content.parts[0].text }}",
        "replyMarkup": "=",
        "forceReply": {},
        "replyKeyboardOptions": {},
        "replyKeyboardRemove": {},
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        368,
        -32
      ],
      "id": "c35bd405-f00a-4b69-8c78-3a0c445b0f4e",
      "name": "Send a text message",
      "webhookId": "89133dda-7b6c-47ca-bd8f-72bdf2b0afeb",
      "credentials": {
        "telegramApi": {
          "id": "dQbvCI8LV69NCToK",
          "name": "the lazy scholar"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=Please write a LinkedIn post for the following tool:\nTitle: {{ $('RSS Feed Trigger').item.json.title }}\nLink: {{ $('RSS Feed Trigger').item.json.link }}\n\nRules:\n- Professional tone.\n- Use bullet points.\n- Under 2000 characters.\n- Language: English (Global Professional Standard).\n- Output ONLY the final LinkedIn post content. \n- Strictly NO introductory remarks like \"Here is the post\", \"Sure\", or \"I can help with that\".\n- Start immediately with a catchy headline or the first sentence.\n- Always end the post with a professional Call to Action (CTA) in English.\n- The CTA must invite international students and scholars to join our Telegram channel for more academic tools and exclusive content.\n- Telegram Link: https://t.me/TheLazyScholar\n- Add 3 to 5 relevant professional hashtags at the very end (e.g., #AI, #EdTech, #AcademicResources).\n- Ensure the hashtags are placed AFTER the Telegram link.\n\n\n"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        560,
        -208
      ],
      "id": "f088f234-fc6f-41be-82d6-a0bc930c4bbe",
      "name": "Message a model2",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "googlePalmApi": {
          "id": "acLlGIxgzjVFkyzU",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hook.eu1.make.com/9dkqvole4ejq9z0gyzk3tl6vpdcjbprq",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "post_content",
              "value": "={{ $json.content.parts[0].text }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        -208
      ],
      "id": "201aa92d-a305-41eb-999f-7c64d2075ce1",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        368,
        -208
      ],
      "id": "947e8b66-2d6d-4fac-b4ec-0deda8dfffcc",
      "name": "Wait",
      "webhookId": "1db64509-b453-48a2-9997-94d4f1b29ad4",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    }
  ],
  "pinData": {},
  "connections": {
    "RSS Feed Trigger": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model2": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Message a model2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "saveDataSuccessExecution": "none",
    "saveExecutionProgress": false,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "0f86c5ba-2550-401b-bd38-331bb184d3b0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "98f3347ecf5af9d101ca9a9a509f61f83d76153396eb18bc06af3097d0834f8f"
  },
  "id": "vC8PXwS3idDF3Rys",
  "tags": []
}